@import url(colors.css);


.navbar-toggler{
    border: 1px solid #fff;
    outline: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.btn-base{
    text-decoration: none;
    padding: 0.375rem 0.75rem ;
    border-radius: .375rem;
}

.btn-base:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: var(--color-primary);
    font-weight: 500;
}

.btn-primary-pink{
    background-color: var(--color-primary);
    color: #fff;
}
